{
    "http": {
      "external": "http://localhost:8000",
      "port": 8000
    },
    "onedrive": {
      "authentication": {
        "clientId": "CLIENT-ID",
        "clientSecret": "CLIENT-SECRET",
        "tokenFilePath": "/tmp/onedrive.token.json"
      },
      "destinationPath": "/Upload",
      "fragmentSizeMB": 4,
      "simpleUploadSmallFiles": false
    }
  }